# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

package-lock.json
src/config.js
src/App.test.js
src/serviceWorker.js
public/manifest.json
public/robots.txt
.netlify

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
