 /******************************************
React Gallery App
Name: Brandon White
Date of Last Modification: 22/11/2019
more_styles.css
******************************************/

/* ======================================
             Additional Styles 
   ====================================== */

li {
    list-style-type: none;
}

.page-not-found {
    font-size: 4em;
}

.italics {
    font-style: italic;
}

.video-container {
    width: fit-content;
    margin: auto;
    margin-top: 2.5em;
}